{
  "version": "2017-02-28",
  "operation": "UpdateItem",
  "key": {
    "userId": $util.dynamodb.toDynamoDBJson($ctx.args.id)
  },
  "update": {
    "expression": "SET is_banned = :banned, updated_at = :updated_at",
    "expressionValues": {
      ":banned": $util.dynamodb.toDynamoDBJson(true),
      ":updated_at": $util.dynamodb.toDynamoDBJson($util.time.nowISO8601())
    }
  }
}
